#header{
	background: none repeat scroll 0 0 #ffffff;
    color: #003366;
    font-size: 18px;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}



#list{
	background: none repeat scroll 0 0 #ffffff;
    color: #003366;
    font-size: 16px;
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom: 5px;	
	/*margin-right: 150px;*/
}

#readme {
    background: none repeat scroll 0 0 #F2FFEF;
    color: #003366;
    font-size: 14px;
	border-radius: 10px;
	margin-top: 100px;
	padding: 5px 20px;
}
	
#link {
    /*background: none repeat scroll 0 0 #999999;*/
    color: #003366;
    font-size: 14px;
	border-radius: 10px;
	margin-top: 100px;
	padding: 0px 40px 20px 40px;
}
/*.section-padding { padding: 5px }*/